[submodule "osu-tools/original/osu-tools"]
	path = osu-tools/original/osu-tools
	url = https://github.com/ppy/osu-tools
[submodule "osu-tools/joz/osu-tools"]
	path = osu-tools/joz/osu-tools
	url = https://github.com/VINXIS/osu-tools
[submodule "osu-tools/delta/osu-tools"]
	path = osu-tools/delta/osu-tools
	url = https://github.com/VINXIS/osu-tools
